// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: @body-background;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
  box-sizing: border-box;
  color: @text-color;
  //   border: 1px dotted blue !important;
}

// Variables
@top-background: #d24c4b;
@link-color: white;
@body-background: black;
@container-background: #383838;
@text-color: #f7f3f2;

// Mixins
.innermargin {
  margin: 0 30px;
}

h2 {
  font-size: 2rem;
  margin: 30px 0;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  margin-top: 20px;
}

hr {
  border: 1px solid @body-background;
  margin-top: 30px;
}

p {
  font-size: 1.6rem;
}

html {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 62.5%;
  line-height: 1.5;
}
body {
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    height: 60px;
    nav {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
    }

    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: fade(@link-color, 60%);
      padding-left: 20px;
      text-align: center;

      &.contactlink {
        padding-right: 0px;
      }
    }
  }

  .container {
    max-width: 800px;
    background-color: @container-background;
    border-radius: 2px;

    .main {
      max-width: 760px;
      margin: 0 auto;
      padding-top: 20px;

      .top-next {
        background-color: @top-background;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;
        height: 300px;
        border-radius: 2px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);

        .circle-picture {
          img {
            border-radius: 50%;
            width: 70%;
          }
          display: flex;
          justify-content: center;
        }

        .name-section {
          display: flex;
          flex-direction: column;
          justify-content: center;
          h1 {
            font-size: 4rem;
          }

          button {
            background-color: @top-background;
            border: 1px solid @container-background;
            margin-top: 20px;
            font-size: 1.5rem;
            width: 160px;
            height: 40px;
            border-radius: 30px;
            i {
              padding-right: 10px;
            }
          }
        }
      }

      .about {
        .innermargin();

        .intro {
          font-weight: bold;
        }
      }

      .skills-work {
        .innermargin();
        display: flex;
        .skill-section {
          width: 50%;
          p {
            font-weight: bold;
          }
          div {
            margin-bottom: 20px;
            span {
              font-size: 1.3rem;
              color: fade(darken(@text-color, 20%), 40%);
            }
          }

          i {
            font-size: 2rem;
          }
          .html-icons {
            i {
              color: blue;
            }
          }
          .css-icons {
            i {
              color: yellow;
            }
          }
          .javascript-icons {
            i {
              color: orangered;
            }
          }
          .php {
            i {
              color: purple;
            }
          }
        }

        .work-history {
          width: 50%;

          .experience-div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              font-weight: bold;
            }

            span {
              font-size: 1.2rem;
              font-style: italic;
              color: fade(darken(@text-color, 20%), 40%);
            }
          }
          .second-experience {
            border-top: 1px dashed @body-background;
            padding-top: 6px;
          }
          .description {
            font-style: italic;
          }
        }
      }

      .contact {
        .innermargin();

        .contact-form {
          p {
            font-weight: bold;
          }
        }
      }
    }

    footer {
      height: 60px;
      background-color: @body-background;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
